.page {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}

@media (max-width: 996px) {
    .page {
        height: auto;
    }
}