.error {
    position: absolute;
    width: 100vw;
    height: 20vh;
    top: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: crimson;
    z-index: -1;
}

.page {
    width: 100%; 
    height: 90vh;
    min-height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contentItem {
    background-color: var(--color--accent);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.middleContainer {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.exemptContentItem {
    background-color: var(--color--accent);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.viewButton {
    opacity: 0;
    width: 80%;
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--color--accent);
    font-family: var(--font-jb-sans);

    &:hover {
        cursor: pointer
    }
}

.highlightCard {
    background-color: var(--color--contrast) !important;

    &:hover {
        cursor: default !important;
    }
}

.visible {
    opacity: 1 !important;
}

.empire {
    
}

.job {
    width: 100%;
    height: 47.5%;
}

.businesses {
    width: 100%;
    height: 47.5%;
}

.congregations {
    width: 100%;
    height: 47.5%;
}

.states {
    width: 100%;
    height: 47.5%;
}

@media (max-width: 996px) {
    .page {
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .middleContainer {
        width: 95%;
        height: 70vh;
        margin-bottom: 5vh;
    }
}