:root {
  --color--background: #20202d;
  --color--contrast: #2c2c3b;
  --color--accent: #141426;
  --color--text: #cacaca;
  --color--subtext: #9f9ea9;
  --color--text--light: #9f9ea980;
  --color--subtext--light: #cacaca80;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: auto;
  height: auto;
  background: var(--color--background);
  font-family: var(--font-jb-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
