:root {
  --color--background: #20202d;
  --color--contrast: #2c2c3b;
  --color--accent: #141426;
  --color--gold: #fddb6b;
  --color--text: #cacaca;
  --color--subtext: #9f9ea9;
  --color--text--light: #9f9ea980;
  --color--subtext--light: #cacaca80;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: auto;
  height: auto;
  background: var(--color--background);
  font-family: var(--font-jb-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.primaryLoaderAnimatedContent {
  width: 100%;
  height: 100%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

.notFound {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  img {
    margin-right: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}